/* copy and paste everything below for each color */

header {
    display: flex; 
    justify-content: space-around; 
    padding: 30px; 
    margin: -9px; 
    margin-bottom: 40px; 
    background-color: lightgray; 
    font-size: 20px;
    font-weight: 20;
}


a {
    text-decoration: none; 
    color: black; 
}

a:hover {
    text-decoration: underline;

}



.container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    margin: 0 10x;  
   
    
}

p {
    width: 250px;
    height: 250px; 
    margin:20px;
    font-size: 25px; 
    text-shadow: 2px 2px 2px rgb(38, 38, 38); 
    color: white;  
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    

    
}

/* copy and paste everything above for each color */

.one {
    background-color: #fd5c63;
}

.two {
    background-color: #C60C30;
}

.three {
    background-color: #DE3163;
}

.four {
    background-color: #F2003C;
}

.five {
    background-color: #800020;
}

.six {
    background-color: #E60026;
}

.seven {
    background-color: #FF6347;
}

.eight {
    background-color: #E34234;
}

.nine {
    background-color: #FF004F;
}

.ten {
    background-color: #FF003F;
}

.eleven {
    background-color: #800020;
}

.twelve {
    background-color: #FF033E;
}
