/* copy and paste everything below for each color */

header {
    display: flex; 
    justify-content: space-around; 
    padding: 30px; 
    margin: -9px;  
    margin-bottom: 40px; 
    background-color: lightgray; 
    font-size: 20px;
    font-weight: 20;
}


a {
    text-decoration: none; 
    color: black; 
}

a:hover {
    text-decoration: underline;

}



.container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    margin: 0 10x;  
   
    
}

p {
    width: 250px;
    height: 250px; 
    margin:20px;
    font-size: 25px; 
    text-shadow: 2px 2px 2px rgb(38, 38, 38); 
    color: white;  
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    

    
}

/* copy and paste everything above for each color */

.one {
    background-color: #7FFFD4;
}

.two {
    background-color: #454B1B;
}

.three {
    background-color: #AAFF00;
}

.four {
    background-color: #097969;
}

.five {
    background-color: #AFE1AF;
}

.six {
    background-color: #DFFF00;
}

.seven {
    background-color: #50C878;
}

.eight {
    background-color: #4F7942;
}

.nine {
    background-color: #7CFC00;
}

.ten {
    background-color: #98FB98;
}

.eleven {
    background-color: #93C572;
}

.twelve {
    background-color: #40826D;
}
